.check-box {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .check-box-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1em + 0.5rem + 2px);
    height: calc(1em + 0.5rem + 2px);
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check-box:hover input ~ .check-box-mark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-box input:checked ~ .check-box-mark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .check-box-mark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-box input:checked ~ .check-box-mark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-box .check-box-mark:after {
    left: 0.5em;
    top: 0.4em;
    width: 0.6em;
    height: 0.6em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }