.link-panel {
  display: flex;
  align-items: stretch;
  margin: 2pt;
  border-radius: 5pt;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  user-select: none;
}

.link-panel-flat {
    flex-direction: row;
}

.link-panel-flat > .link-panel-icon {
    width: 2rem;
}

.link-panel-stacked {
    flex-direction: column;
}

.link-panel-small {
    font-size: 1rem;
}

.link-panel-medium {
    font-size: 1.2rem;
}

.link-panel-large {
    font-size: 1.5rem;
}


.link-panel-dark {
    color: #212529;
}

.link-panel-dark:hover {
    background-color: #bfbfbf;
}


.link-panel-light {
    color: #ffffff;
}

.link-panel-light:hover {
    background-color: #8f8f8f;
}


.link-panel-danger {
    color: #ff0000;
}

.link-panel-danger:hover {
    background-color: #bfbfbf;
}


.link-panel-info {
    color: #0000ff;
}

.link-panel-info:hover {
    background-color: #bfbfbf;
}


.link-panel-success {
    color: #00ff00;
}

.link-panel-success:hover {
    background-color: #ffffff;
}


.link-panel-icon {
  text-align: center;
  vertical-align: middle;
  padding-left: 5pt;
  padding-right: 5pt;
  user-select: none;
}

.link-panel-label {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding-left: 5pt;
  padding-right: 5pt;
  user-select: none;
  transition: color 0.15s ease-in-out, 
                background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out, 
                box-shadow 0.15s ease-in-out;
}