
.slide-deck-entry {
    box-shadow:0px 0px 10px 10px #cccccc;
    position: relative;
    background-color: #ffffff;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.slide-deck-entry.position-front {
    transform: translate(0%, 0%);
    transition: transform .6s;
}

.slide-deck-entry.position-behind {
    transform: translate(0%, 0%);
    transition: transform .6s;
}

.slide-deck-entry.position-right {
    transform: translate(+105%, 0%);
    transition: transform .6s;
}

.slide-deck-entry-content.existance-removed {
    display: none;
}

.slide-deck-entry-content.existance-present {
    position: relative;
    height: 100%;
}