.banner-label {
    color: white;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-label-visible { 
    max-height: 50px;
    visibility: visible;
    transition: max-height .5s, visibility 0s;
}

.banner-label-hidden {
    max-height: 0px;
    visibility: hidden;
    transition: max-height .5s .3s, visibility 0s .5s;
    
}