<div>
    <div id="passwordMatcherError" class="password-matcher-error">Password must contain
        <ul class="password-matcher-crieria-list">
            <li>Atleast 8 characters</li>
            <li>Alphabetical characters</li>
            <li>Numerical characters</li>
            <li>Special characters #?!@$%^&*-</li>
        </ul>
        <i></i>
    </div>
    <div id="passwordMatcherControlError" class="password-matcher-error">Passwords must match<i></i></div>
    <input id="passwordMatcherInput" type="password" class="password-matcher-input"/>
    <input id="passwordMatcherControlInput" type="password" class="password-matcher-control-input"/>
    <div class="password-matcher-hint">* Password must contain letters, numbers and special characters</div>
</div>