<div id="dialogBox" style="z-index:-1">

    <div id="backShadeContainer"></div>

    <div id="dialogBoxWindow" class="dialogbox dialogbox-display-block dialogbox-fade" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-dialogbox="true">
        <div class="dialogbox-dialog" style="z-index:2" role="document">
            <div class="dialogbox-content">
                <div class="dialogbox-header">
                    <h5 class="dialogbox-title" id="title">Message</h5>
                    <button id="closeButton" type="button" class="dialogbox-close-button" data-dismiss="dialogbox" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div id="dialogBoxContent" class="dialogbox-body">

                </div>
                <div id="dialogBoxFooter" class="dialogbox-footer" style="display:none">
                    
                </div>
            </div>
        </div>
    </div>
</div>