  .dialogbox-open {
    overflow: hidden;
  }
  
  .dialogbox-open .dialogbox-overlay {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .dialogbox-overlay-fade {
    transition: opacity 0.15s linear;
  }

  .dialogbox-overlay-display-block {
    display: block;
  }

  .dialogbox-overlay-display-none {
    display: none;
  }

  .dialogbox-overlay-fade:not(.dialogbox-overlay-show) {
    opacity: 0;
  }

  .dialogbox-overlay.dialogbox-overlay-fade .dialogbox-frame {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }
  
  .dialogbox-overlay.dialogbox-overlay-show .dialogbox-frame {
    -webkit-transform: none;
    transform: none;
  }
  
  .dialogbox-header .dialogbox-close-button {
    padding: 0.7rem 1rem;
    margin: -0.7rem -1rem -0.7rem auto;
  }
  
  .dialogbox-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .dialogbox-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .dialogbox-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .dialogbox-footer > :not(:first-child) {
    margin-left: .25rem;
  }
  
  .dialogbox-footer > :not(:last-child) {
    margin-right: .25rem;
  }
  
  .dialogbox-overlay {
    top: 0;
    z-index:10;
    overflow: hidden;
    outline: 0;
  }

  .dialogbox-frame {
    margin: 0;
  }

  .dialogbox-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
  }

  .dialogbox-header {
    display: -ms-flexbox;
    display: flex;
    background-color: #999999;
    color: #ffffff;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  .dialogbox-close-button {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
  }
  
  .dialogbox-close-button:hover {
    color: #000;
    text-decoration: none;
  }
  
  .dialogbox-close-button:not(:disabled):not(.disabled):hover, .dialogbox-close-button:not(:disabled):not(.disabled):focus {
    opacity: .75;
  }

  button.dialogbox-close-button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  @media (max-width: 500px) {

    .dialogbox-overlay {
      position:fixed;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    .dialogbox-frame {
      position:absolute;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    .dialogbox-content {
      position:relative;
      height: 100%;
    }

    .dialogbox-body {
      overflow-y: scroll;
    }

  }

  @media (min-width: 501px) {
    
    .dialogbox-overlay {
      position: absolute;
      margin-top: 54pt;
      padding-top: 1.5rem;
      left: 50%;
      transform: translate(-50%,0);
      width: auto;
      height: auto;
    }
    
    .dialogbox-frame {
      position: relative;
      width: auto;
      height: auto;
      margin: 0.5rem;
      pointer-events: none;
    }

    .dialogbox-content {
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      height: auto;
    }

    .dialogbox-body {
      overflow-y: hidden;
    }

    .dialogbox-header {
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .dialogbox-overlay.dialogbox-fade .dialogbox-frame {
      transition: none;
    }
    .dialogbox-fade {
      transition: none;
    }
  }