
@media (min-width: 734px) {
    .line-panel-entry {
        position: relative;
        flex: 0 0 auto;

        display: flex;
        flex-direction: column;
    }

    .line-panel-entry-record-element {
        position: relative;
        flex: 1 0 auto;

        display: flex;
        flex-direction: row;

        margin-bottom: 5px;
        
    }

    .line-panel-entry-record-subrecordelements-container {
        position: relative;
        flex: 0 0 auto;

        display: flex;
        flex-direction: row;

    }

    .line-panel-entry-subrecord-elements {
        position: relative;
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;

    }

}

@media (max-width: 733px) {
    .line-panel-entry {
        position: relative;
        flex: 0 0 auto;

        display: flex;
        flex-direction: column;
    }

    .line-panel-entry-record-element {
        position: relative;
        flex: 1 0 auto;

        display: flex;
        flex-direction: row;

        margin-bottom: 5px;
    }

    .line-panel-entry-record-subrecordelements-container {
        position: relative;
        flex: 0 0 auto;

        display: flex;
        flex-direction: row;
        
    }

    .line-panel-entry-subrecord-elements {
        position: relative;
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
    }

}

.line-panel-entry-expand {
    position: relative;
    flex: 0 1 auto;

    display: flex;
    padding-right:5px;
    
}

.line-panel-entry-subrecord-elements-indent {
    position: relative;
    flex: 0 0 35px;

    display: flex;
    flex-direction: row;
}

.line-panel-entry-record-element {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}